#projects{
  padding-top: 50px;
}
.projectsHeader{
  text-align: center;
  width: 100%;
}
.projectsContainer{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
}
.project{
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
  margin: 5px;
  width: 100%; 
}
.projectDetails{
  list-style-type: none;
  width: 100%;
  color: white;
  text-align: left;
}
.projectImage{
  overflow: hidden;
  width: 100%;
  padding: 2px, 0px;
}
.projectCode, .projectDevelopedWith{
  margin-top: 5px;
}
.projectDescription {
  margin-top: 15px;
}
.hide{
  display: none;
}
.show{
  display: inline-block;
}
.details{
  text-decoration: underline;
}


@media screen and (min-width: 1000px) {
  .project{
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .projectImage{
    display: flex;
    min-width: 500px;
    max-width: 700px;
  }
  .projectDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 500px;
    max-width:  700px;
  }
}

@media screen and (min-width: 480px) {

  .details{
      display: none;
  }
  .hide{
      display: inline-block;
  }
  .show{
    display: none;
  }
  .projectDescription {
    margin-top: 0px;
  }
}